* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Literata", serif;
}

body {
    background-color: #F5F5F5 !important;
}

.navbar {
    background-color: #F5F5F5 !important;
}

.texto {
    color: #000;
    font-size: 16px;
}

.texto-imagem {
    position: absolute;
    bottom: -.25em;
    left: 2em;
    font-size: 18px;
}

.texto-agendar {
    font-size: 32px;
}

.titulo {
    font-size: 40px;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.imagem {
    height: auto;
    max-width: 100%;
}

.logo-sebs {
    height: 40px;
    width: 100px;
}

@media (min-width: 720px) {
    .imagem {
        height: 80vh;
    }
}

.imagem-redonda {
    border-radius: 50%;
}

.servico {
    font-size: 1.75rem !important;
}

.modal {
    width: 80%;
}

.card-img {
    margin-top: 1em;
}

.card-btn {
    margin: 0;
}

.card-body {
    margin: 0;
    padding: 0;
}

.box-abordagem {
    position: relative;
    background: none;
}

@media (min-width: 720px) {
    .box-abordagem {
        position: absolute;
        background: white;
    }
}

.text-hello {
    font-size: 40px;
    text-align: center;
}

@media (min-width: 720px) {
    .text-hello {
        text-align: justify;
    }
}

.imagem-freud {
    background-image: url("../assets/img/freud.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(50%);
    backdrop-filter: blur(50%);
}

@media (min-width: 720px) {
    .imagem-freud {
        height: 80vh;
    }
}

@media (max-width: 720px) {
    #navbar {
        display: none;
    }
}

@font-face {
    font-family: frutiger;
    src: url("../assets/fonts/Frutiger\ Neue\ W02\ Book.ttf");
}

.frutiger-font {
    font-family: frutiger;
}

.texto-titulo {
    font-size: 56px;
}

@media (max-width: 720px) {
    .texto-titulo {
        font-size: 30px;
    }
}

.texto-principal {
    font-size: 24px;
}

@media (max-width: 720px) {
    .texto-principal {
        font-size: 18px;
    }
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.bold {
    font-weight: 500;
}

.bolder {
    font-weight: 700;
}

.frank-ruhl-libre {
    font-family: 'Frank Ruhl Libre', serif;
}

.texto-botao {
    font-size: 16px;
}

.imagem-principal{
    padding-top:56%;
    width: 100%;
}

.imagem-sala {
    height: 400px;
}

.menu-container{
    max-width: 100%;
    margin:0 auto;
    background: url('../assets/img/sala.jpg') no-repeat center;
    background-size: cover;
}

@media (min-width: 720px) {
    .menu-container{
        height: 85vh;
    }
}

.icon-container{
    right:5%;
    bottom:5%;
    z-index:3;
}

.wpp-icon{
    position: relative;
    width:50px;
    height:50px;
    opacity: 0.5;
}

.wpp-icon:hover{
    opacity: 1;
    cursor: pointer;
}

.card-footer:last-child {
    border-radius: 0!important;
}

.card-footer {
    padding: 0!important;
    background-color: unset!important;
    border-top: unset!important;
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 0 !important;
}

#footer {
    background: #2F5E39;
    width: 100%;
    max-width: 100%;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

#adultos:hover{
    cursor: pointer;
}

#adolescentes:hover{
    cursor: pointer;
}